@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


body {
  background-color: pink;

}
h1 {
  text-align: center;
  /*font-family: 'Rock Salt', cursive;*/
  font-size: 50px;
  margin-top: 1em;
}
.gameBoard {
  /*background-image: url("/images/white-background.jpg"); FILE NOT FOUND*/
  background-color: blue;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 1em;
}

.square {
  display: inline-block;
  width: 31.5%;
  height: 31.5%;
  background-color: yellow;
  border: 1px solid black;
}
.players { /* includes pic of x and o and input and button*/
  display: block;
  background-color: red;
  margin-top: 40px;
  text-align: center;
  height: 200px;
  /*font-family: 'Rock Salt', cursive;*/

}
#pOne {
  display: inline-block;
  margin: 0 auto;
  background-color: purple;
  height: 200px;
  width: 150px;
  margin-right: 10%;
  /*background-image: url("https://cdn.pixabay.com/photo/2013/07/13/10/33/cross-157492__340.png");*/
  /*background-size: 100%;*/
}
#pTwo {
  display: inline-block;
  margin: 0 auto;
  background-color: orange;
  height: 200px;
  width: 150px;
  margin-left: 10%; /*need better way to position on page*/
  /*background-image: url("https://cdn.pixabay.com/photo/2015/11/28/11/25/zero-1067088__340.jpg");
  background-size: 100%;*/
  /*background-position: center;*/
}
img {
  height: 100px;
  width: 100px;
}
.playerName {
  margin-top: 10px;
}

.x { /* for the squares when clicked */
  height: 31%;
  width: 31%;
  background-color: green;
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/10/33/cross-157492__340.png");
  background-size: 100%;
}
.o { /* for the squares when clicked */
  height: 31%;
  width: 31%;
  background-color: white;
  background-image: url("https://cdn.pixabay.com/photo/2015/11/28/11/25/zero-1067088__340.jpg");
  background-size: 100%;
  background-position: center;
}
.win {

}

.reset {
  display: block;
  background-color: aquamarine;
  margin-top: 20px;
  text-align: center;
}
.winner {
  font-size: 50px;
  /*font-family: 'Rock Salt', cursive;*/

}
.draw{
  font-size: 50px;
  /*font-family: 'Rock Salt', cursive;*/

}
.hidden {
  display: none;
}
/*#p2Name {
  margin-top: 100px;
}*/
