@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  background-color: none;
}
.h1 { /* images as heading */
  /*text-align: center;*/
  max-height: 120px;
  margin: 0 auto;
  background-color: none;
  display: block;
  max-width: 100vw;
}
.gameBoard {
  background-image: url('../images/tictacboard.png');
  background-size: 135%;
  background-position: center;
  background-color: none;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 1em;
}
.square {
  display: inline-block;
  width: 31.5%;
  height: 31.5%;
  background-color: none;
}
.players { /* includes pic of x and o */
  display: block;
  background-color: none;
  margin-top: 40px;
  text-align: center;
  height: 200px;
  font-family: 'Rock Salt', cursive;
}
#pOne {
  display: inline-block;
  margin: 0 auto;
  background-color: none;
  height: 200px;
  width: 150px;
  /*margin-right: 10%;*/
}
#pTwo {
  display: inline-block;
  margin: 0 auto;
  background-color: none;
  height: 200px;
  width: 150px;
  /*margin-left: 10%; /*need better way to position on page*/
  text-align: center;
}
.img {
  height: 100px;
  width: 100px;
  background-size: 100%;
  /*text-align: center;*/
}
#x {
  background-image: url('../images/tictacx.png');
  margin: 0 auto;
}
#o {
  background-image: url('../images/tictaco.png');
  margin: 0 auto;
}
.playerName {
  margin-top: 10px;
}
.x { /* for the squares when clicked */
  height: 31%;
  width: 31%;
  background-color: none;
  background-image: url('../images/tictacx.png');
  background-size: 100%;
}
.o { /* for the squares when clicked */
  height: 31%;
  width: 31%;
  background-color: none;
  background-image: url('../images/tictaco.png');
  background-size: 100%;
  background-position: center;
}
.reset {
  display: block;
  background-color: none;
  margin-top: 20px;
  text-align: center;
}
.winner {
  font-size: 70px;
  position: absolute;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  top: 18%;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  color: red;
}
.draw{
  font-size: 70px;
  position: absolute;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  top: 20%;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  color: red;
}
.hidden {
  display: none;
}
#resetB {
  font-family: 'Rock Salt', cursive;
  background-color: white;
  border: none;
}
#p1Button  { /* DISPLAY NONE */
  font-family: 'Rock Salt', cursive;
  background-color: white;
  border: none;
  display: none;
}
#p2Button { /* DISPLAY NONE */
  font-family: 'Rock Salt', cursive;
  background-color: white;
  border: none;
  display: none;
}
input { /* DISPLAY NONE */
  font-family: 'Rock Salt', cursive;
  text-align: center;
  border: none;
  display: none;
}
